@{
    ViewData["Title"] = "New Product - ";
}

<div class="container-fluid mx-auto" style="width: 50%">
    <h1 class="h3 mb-4 text-gray-800">New Product</h1>
    <form asp-action="CreateProduct" method="post">
        <div class="mb-3">
            <label for="ProductCode" class="form-label">Product Code:</label>
            <input type="text" class="form-control" id="ProductCode" name="ProductCode" required>
        </div>
        <div class="mb-3">
            <label for="ProductName" class="form-label">Product Name:</label>
            <input type="text" class="form-control" id="ProductName" name="ProductName" required>
        </div>
        <div class="mb-3">
            <label for="ProductUnit" class="form-label">Product Unit:</label>
            <input type="text" class="form-control" id="ProductUnit" name="ProductUnit" required>
        </div>
        <div class="row">
            <div class="mb-3 col-6">
                <label for="CustomerID" class="form-label">Customer Name:</label><br>
                <select class="form-select form-select-lg w-30 rounded" id="CustomerID" name="CustomerID">
                    @foreach (var customer in ViewBag.Customers as List<Customer>)
                    {
                        <option value="@customer.CustomerID">@customer.CustomerName</option>
                    }
                </select>                
            </div>
            <div class="mb-3 col-3">
                <label for="StaffID" class="form-label">Staff Name:</label><br>
                <select class="form-select form-select-lg w-30 rounded" id="StaffID" name="StaffID">
                    @foreach (var staff in ViewBag.Staffs as List<Staff>)
                    {
                        <option class="rounded" value="@staff.StaffID">@staff.StaffName</option>
                    }                
                </select>
            </div>
            <div class="mb-3 col-3">
                <label for="Status" class="form-label">Status:</label><br>
                <select class="form-select form-select-lg w-30 rounded" name="status" aria-label="Default select example" id="Status">
                    <option class="rounded" selected>--- && ---</option>
                    <option class="rounded" value="OK">OK</option>
                    <option class="rounded" value="WAITING">Waiting</option>
                </select>
            </div>
        </div>
        <div class="mb-3">
            <label for="Description" class="form-label">Description:</label>
            <input type="text" class="form-control" id="Description" name="Description">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
