@{
    var warehouseList = ViewBag.WarehouseList as List<Warehouse>;
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Warehouse Overview</h1>

</div>
<div class="grid-container">
    <div class="grid-item" id="AL01">AL01</div>
    <div class="grid-item" id="AR01">AR01</div>
    <div class="grid-item" id="AL02">AL02</div>
    <div class="grid-item" id="AR02">AR02</div>
    <div class="grid-item" id="AL03">AL03</div>
    <div class="grid-item" id="AR03">AR03</div>
    <div class="grid-item" id="AL04">AL04</div>
    <div class="grid-item" id="AR04">AR04</div>
    <div class="grid-item" id="AL05">AL05</div>
    <div class="grid-item" id="AR05">AR05</div>
    <div class="grid-item" id="AL06">AL06</div>
    <div class="grid-item" id="AR06">AR06</div>
    <div class="grid-item" id="AL07">AL07</div>
    <div class="grid-item" id="AR07">AR07</div>
    <div class="grid-item" id="AL08">AL08</div>
    <div class="grid-item" id="AR08">AR08</div>
    <div class="grid-item" id="AL09">AL09</div>
    <div class="grid-item" id="AR09">AR09</div>
    <div class="grid-item" id="AL10">AL10</div>
    <div class="grid-item" id="AR10">AR10</div>
    <div class="grid-item" id="AL11">AL11</div>
    <div class="grid-item" id="AR11">AR11</div>
    <div class="grid-item" id="AL12">AL12</div>
    <div class="grid-item" id="AR12">AR12</div>
    <div class="grid-item" id="AL13">AL13</div>
    <div class="grid-item" id="AR13">AR13</div>
    <div class="grid-item" id="AL14">AL14</div>
    <div class="grid-item" id="AR14">AR14</div>

    <div class="grid-item" id="AL15">AL15</div>
    <div class="grid-item" id="AR15">AR15</div>
    <div class="grid-item" id="AL16">AL16</div>
    <div class="grid-item" id="AR16">AR16</div>
    <div class="grid-item" id="AL17">AL17</div>
    <div class="grid-item" id="AR17">AR17</div>
    <div class="grid-item" id="AL18">AL18</div>
    <div class="grid-item" id="AR18">AR18</div>
    <div class="grid-item" id="AL19">AL19</div>
    <div class="grid-item" id="AR19">AR19</div>
    <div class="grid-item" id="AL20">AL20</div>
    <div class="grid-item" id="AR20">AR20</div>
    <div class="grid-item" id="AL21">AL21</div>
    <div class="grid-item" id="AR21">AR21</div>
    <div class="grid-item" id="AL22">AL22</div>
    <div class="grid-item" id="AR22">AR22</div>
    <div class="grid-item" id="AL23">AL23</div>
    <div class="grid-item" id="AR23">AR23</div>
    <div class="grid-item" id="AL24">AL24</div>
    <div class="grid-item" id="AR24">AR24</div>
    <div class="grid-item" id="AL25">AL25</div>
    <div class="grid-item" id="AR25">AR25</div>
    <div class="grid-item" id="AL26">AL26</div>
    <div class="grid-item" id="AR26">AR26</div>
    <div class="grid-item" id="AL27">AL27</div>
    <div class="grid-item" id="AR27">AR27</div>
    <div class="grid-item" id="AL28">AL28</div>
    <div class="grid-item" id="AR28">AR28</div>

    <div class="grid-item" id="AL29">AL29</div>
    <div class="grid-item" id="AR29">AR29</div>
    <div class="grid-item" id="AL30">AL30</div>
    <div class="grid-item" id="AR30">AR30</div>
    <div class="grid-item" id="AL31">AL31</div>
    <div class="grid-item" id="AR31">AR31</div>
    <div class="grid-item" id="AL32">AL32</div>
    <div class="grid-item" id="AR32">AR32</div>
    <div class="grid-item" id="AL33">AL33</div>
    <div class="grid-item" id="AR33">AR33</div>
    <div class="grid-item" id="AL34">AL34</div>
    <div class="grid-item" id="AR34">AR34</div>
    <div class="grid-item" id="AL35">AL35</div>
    <div class="grid-item" id="AR35">AR35</div>
    <div class="grid-item" id="AL36">AL36</div>
    <div class="grid-item" id="AR36">AR36</div>
    <div class="grid-item" id="AL37">AL37</div>
    <div class="grid-item" id="AR37">AR37</div>
    <div class="grid-item" id="AL38">AL38</div>
    <div class="grid-item" id="AR38">AR38</div>
    <div class="grid-item" id="AL39">AL39</div>
    <div class="grid-item" id="AR39">AR39</div>
    <div class="grid-item" id="AL40">AL40</div>
    <div class="grid-item" id="AR40">AR40</div>
    <div class="grid-item" id="AL41">AL41</div>
    <div class="grid-item" id="AR41">AR41</div>
    <div class="grid-item" id="AL42">AL42</div>
    <div class="grid-item" id="AR42">AR42</div>

    <div class="grid-item" id="AL43">AL43</div>
    <div class="grid-item" id="AR43">AR43</div>
    <div class="grid-item" id="AL44">AL44</div>
    <div class="grid-item" id="AR44">AR44</div>
    <div class="grid-item" id="AL45">AL45</div>
    <div class="grid-item" id="AR45">AR45</div>
    <div class="grid-item" id="AL46">AL46</div>
    <div class="grid-item" id="AR46">AR46</div>
    <div class="grid-item" id="AL47">AL47</div>
    <div class="grid-item" id="AR47">AR47</div>
    <div class="grid-item" id="AL48">AL48</div>
    <div class="grid-item" id="AR48">AR48</div>
    <div class="grid-item" id="AL49">AL49</div>
    <div class="grid-item" id="AR49">AR49</div>
    <div class="grid-item" id="AL50">AL50</div>
    <div class="grid-item" id="AR50">AR50</div>
    <div class="grid-item" id="AL51">AL51</div>
    <div class="grid-item" id="AR51">AR51</div>
    <div class="grid-item" id="AL52">AL52</div>
    <div class="grid-item" id="AR52">AR52</div>
    <div class="grid-item" id="AL53">AL53</div>
    <div class="grid-item" id="AR53">AR53</div>
    <div class="grid-item" id="AL54">AL54</div>
    <div class="grid-item" id="AR54">AR54</div>
    <div class="grid-item" id="AL55">AL55</div>
    <div class="grid-item" id="AR55">AR55</div>
    <div class="grid-item" id="AL56">AL56</div>
    <div class="grid-item" id="AR56">AR56</div>
</div>

<script>
    @foreach (var warehouse in warehouseList)
    {
        if (warehouse.Location_status.Equals("occupied", StringComparison.OrdinalIgnoreCase))
        {
            <text>
                    var RFID = '@warehouse.RFID';
                    function setColor(element, color) {
                        element.style.backgroundColor = color;
                        element.style.color = 'white';
                    }
                    var warehouseElement = document.getElementById(RFID);
                    if (warehouseElement) {
                        setColor(warehouseElement, '#e74a3b');
                    }
            </text>
        }
    }
</script>

<style>
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    }

    .grid-item {
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 5px;
        text-align: left;
    }
</style>